In [1]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
import sklearn

In [2]:
# -*- coding: utf-8 -*-

In [13]:
df = pd.read_csv('raw_data/2015.csv', encoding='CP949', index_col =False)

In [14]:
df.weather = pd.read_csv('raw_data/weather2015.csv', encoding='CP949', index_col =False)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """Entry point for launching an IPython kernel.

In [15]:
print(df)
#print(df.weather)

                날짜   역번호              역명  구분  05~06  06~07  07~08  08~09  \
0       2015-01-01   150        서울역(150)  승차    441    399    572   1106
1       2015-01-01   151         시청(151)  승차    101     95    104    127
2       2015-01-01   152         종각(152)  승차    898    482    281    291
3       2015-01-01   153       종로3가(153)  승차    371    212    155    189
4       2015-01-01   154       종로5가(154)  승차     57    101     83    128
5       2015-01-01   155        동대문(155)  승차    130    176    171    265
6       2015-01-01   156        신설동(156)  승차     95    136    160    250
7       2015-01-01   157        제기동(157)  승차    102    198    138    189
8       2015-01-01   158    청량리(지하)(158)  승차    273    243    314    469
9       2015-01-01   159        동묘앞(159)  승차     48     56     57     89
10      2015-01-01   201         시청(201)  승차     39     51     95    104
11      2015-01-01   202      을지로입구(202)  승차    149    123    117    197
12      2015-01-01   203      을지로3가(203)  승차     30     94     53    112
13      2015-01-01   204      을지로4가(204)  승차     30     32     57     84
14      2015-01-01   205  동대문역사문화공원(205)  승차    125     93    120    164
15      2015-01-01   206         신당(206)  승차    115    166    137    290
16      2015-01-01   207       상왕십리(207)  승차     74    127    152    210
17      2015-01-01   208  왕십리(성동구청)(208)  승차    218    250    214    311
18      2015-01-01   209        한양대(209)  승차     38     62     45     58
19      2015-01-01   210         뚝섬(210)  승차     95    197    136    272
20      2015-01-01   211         성수(211)  승차    125    193    182    272
21      2015-01-01   212       건대입구(212)  승차   1595   1256    903    991
22      2015-01-01   213         구의(213)  승차    226    256    399    524
23      2015-01-01   214         강변(214)  승차    356    358    427    702
24      2015-01-01   215       잠실나루(215)  승차     67    120    163    268
25      2015-01-01   216         잠실(216)  승차   1174    608    610    910
26      2015-01-01   217         신천(217)  승차    640    527    376    485
27      2015-01-01   218      종합운동장(218)  승차    123    184    115    154
28      2015-01-01   219         삼성(219)  승차    295    299    237    317
29      2015-01-01   220         선릉(220)  승차    253    364    289    371
...            ...   ...             ...  ..    ...    ...    ...    ...
200720  2015-12-31  2749              철산  하차    131    282    621   1385
200721  2015-12-31  2750           광명사거리  하차    180    358    710   1117
200722  2015-12-31  2751              천왕  하차     45    166    205    310
200723  2015-12-31  2752           온수(7)  하차    108    140    363    574
200724  2015-12-31  2753             까치울  하차     14     73    119    303
200725  2015-12-31  2754         부천종합운동장  하차     30     93    240    442
200726  2015-12-31  2755              춘의  하차     42    182    865   1653
200727  2015-12-31  2756             신중동  하차     35    141    555   1518
200728  2015-12-31  2757            부천시청  하차     43    118    525   1024
200729  2015-12-31  2758              상동  하차     57    202    409   1143
200730  2015-12-31  2759           삼산체육관  하차     29     64    109    265
200731  2015-12-31  2760             굴포천  하차     27     92    196    545
200732  2015-12-31  2761         부평구청(7)  하차     40    182    330    499
200733  2015-12-31  2811              암사  하차     75    222    342    741
200734  2015-12-31  2812           천호(8)  하차     60    379    667   1471
200735  2015-12-31  2813            강동구청  하차     38    196    460   1602
200736  2015-12-31  2814            몽촌토성  하차     24    130    331   1315
200737  2015-12-31  2815           잠실(8)  하차     80    388    883   2224
200738  2015-12-31  2816              석촌  하차     34    196    334   1092
200739  2015-12-31  2817              송파  하차     38    105    169    807
200740  2015-12-31  2818         가락시장(8)  하차    131    193    453   1591
200741  2015-12-31  2819              문정  하차     57    630    415    747
200742  2015-12-31  2820              장지  하차     74    604    683   1870
200743  2015-12-31  2821           복정(8)  하차     82    496    356    594
200744  2015-12-31  2822              산성  하차     26    101    139    263
200745  2015-12-31  2823          남한산성입구  하차     60    162    417    952
200746  2015-12-31  2824           단대오거리  하차     48    207    432    804
200747  2015-12-31  2825              신흥  하차     26     73    103    230
200748  2015-12-31  2826              수진  하차     38     67    115    326
200749  2015-12-31  2827           모란(8)  하차     60     84    138    283

        09~10  10~11 ...   15~16  16~17  17~18  18~19  19~20  20~21  21~22  \
0        1474   2020 ...    4036   4030   3666   3738   3091   2749   3247
1         233    308 ...    1038   1027   1176   1133    850    950    612
2         328    449 ...    1530   2012   2176   2047   1767   1834   1825
3         347    491 ...    1537   1791   1954   1526   1297   1149   1257
4         209    323 ...     915    984    948    962    722    576    431
5         440    483 ...     837    913    804    637    420    394    284
6         345    490 ...     504    575    518    489    308    243    206
7         272    391 ...    1084   1018    835    435    236    158    234
8         719    822 ...    1578   1725   1545   1096    893    932    751
9         167    198 ...     746    670    585    276    192     98    154
10        129    239 ...     663    880    889    860    632    564    539
11        361    550 ...    1544   1958   2079   2456   2063   1997   2274
12        167    475 ...     433    424    450    371    329    282    195
13        173    279 ...     265    273    284    206    175    162    156
14        285    349 ...     839    964   1006    980    909    863    820
15        328    384 ...     533    541    500    411    359    236    253
16        262    293 ...     302    292    257    234    158    155    166
17        386    452 ...     694    732    768    772    617    596    659
18         85     91 ...     186    209    295    240    163    151    175
19        289    317 ...     389    365    364    333    256    221    164
20        329    358 ...     396    419    467    435    313    311    277
21       1034    962 ...    1624   1759   1888   1953   1694   1913   2075
22        659    608 ...     654    726    674    575    411    407    410
23       1235   1689 ...    2509   2570   2480   2244   2377   1997   1987
24        308    342 ...     534    499    536    412    307    276    221
25       1129   1264 ...    3511   3862   3980   4295   3431   2795   3392
26        532    630 ...     831    828    850    739    750    763    794
27        285    234 ...     398    386    433   1960    286    175    142
28        422    419 ...    2187   2777   3333   3217   2617   2402   2548
29        445    456 ...     805    903   1132   1018    688    701    837
...       ...    ... ...     ...    ...    ...    ...    ...    ...    ...
200720    994    708 ...    1671   2089   2632   3555   3156   1902   1573
200721    911    786 ...    2156   2466   2684   3690   3238   2079   1850
200722    233    203 ...     571    680    784    844    790    497    468
200723    278    212 ...     601    707    933   1183   1034    744    565
200724    133    112 ...     315    454    558    693    593    461    316
200725    170    101 ...     276    404    470    574    488    365    336
200726    431    265 ...     311    357    519    602    527    392    387
200727   1016    546 ...     965   1046   1309   1580   1489    830    742
200728    704    454 ...     981   1023   1224   1653   1724    842    679
200729    892    583 ...     900   1144   1207   1664   1450   1022    721
200730    132    169 ...     317    394    657    981    649    394    308
200731    334    256 ...     605    716    998   1175   1073    854    554
200732    244    169 ...     552    710    893   1081   1045    674    643
200733    536    407 ...    1137   1282   1642   2015   1740   1062   1002
200734   1070    755 ...    1501   1815   2321   2793   2496   1568   1308
200735    498    371 ...     638    867    949   1168    963    626    508
200736    525    326 ...     418    436    509    652    593    475    326
200737   1434    826 ...    1206   1074   1319   1469    941    572    438
200738    757    451 ...     544    706    766    972    800    543    420
200739    415    263 ...     321    357    383    518    381    264    236
200740    667    389 ...     456    437    445    594    499    306    251
200741    310    163 ...     287    312    447    494    416    289    231
200742   1105    539 ...     816    845   1149   1237   1149    913    664
200743    366    232 ...     200    295    318    515    649    301    282
200744    170    195 ...     471    587    663    837    693    570    510
200745    491    296 ...     750    890   1003   1414   1206    826    757
200746    386    347 ...     703    940    961   1442   1296   1019    739
200747    233    220 ...     423    554    532    660    632    470    315
200748    211    181 ...     348    386    439    464    397    316    285
200749    150    181 ...     260    284    284    290    290    167    172

        22~23  23~24  24~
0        2437   1279   73
1         497    192    6
2        1666    736   37
3         953    415   15
4         241    102    3
5         206    156    0
6         145     62    1
7          80     37    2
8         600    179    2
9          85     49    0
10        395    152    0
11       1911    904    0
12        237     92    0
13        133     54    0
14        600    350    0
15        170     76    0
16        112     49    0
17        627    448    6
18        264     76    0
19        120     53    0
20        245    117    1
21       2280   1254    0
22        287    150    0
23       1312    430    0
24        168     71    0
25       2453    906    0
26        705    315    0
27        114     43    0
28       2005    406    0
29       1014    334    0
...       ...    ...  ...
200720   1383   1000  552
200721   1616   1128  577
200722    377    346  219
200723    492    424  322
200724    348    200   99
200725    292    222  172
200726    260    265  131
200727    581    512  264
200728    463    457  218
200729    624    423  175
200730    308    199  108
200731    572    413  205
200732    611    390  378
200733    858    677  417
200734   1319    725  717
200735    489    254  249
200736    280    164  159
200737    401    222  192
200738    409    315  276
200739    190    137   79
200740    221    139  110
200741    232    125  133
200742    494    350  306
200743    300    210  153
200744    520    361  270
200745    803    484  353
200746    772    565  339
200747    341    263  158
200748    317    215  121
200749    130    102  235

[200750 rows x 24 columns]

In [6]:
df.columns

Index(['날짜', '역번호', '역명', '구분', '05~06', '06~07', '07~08', '08~09', '09~10',
       '10~11', '11~12', '12~13', '13~14', '14~15', '15~16', '16~17', '17~18',
       '18~19', '19~20', '20~21', '21~22', '22~23', '23~24', '24~'],
      dtype='object')

In [16]:
#df.renamed = df.rename(index=str, columns={"날짜": "date", "역번호": "id", "역명": "name", "구분":"category", "05~06": "5", "06~07": "6", "07~08": "7", "08~09": "8", "09~10": "9", "10~11": "10", "11~12": "11", "12~13": "12", "13~14": "13", "14~15": "14", "15~16": "15", "16~17": "16", "17~18": "17", "18~19": "18", "19~20": "19", "20~21": "20", "21~22": "21", "22~23": "22", "23~24": "23", "24~": "24"})
df.renamed = df.rename(index=str, columns={"날짜": "date", "역번호": "id", "역명": "name", "구분":"category", "05~06": 5, "06~07": 6, "07~08": 7, "08~09": 8, "09~10": 9, "10~11": 10, "11~12": 11, "12~13": 12, "13~14": 13, "14~15": 14, "15~16": 15, "16~17": 16, "17~18": 17, "18~19": 18, "19~20": 19, "20~21": 20, "21~22": 21, "22~23": 22, "23~24": 23, "24~": 24})

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access

In [17]:
print(df.renamed)

              date    id            name category     5     6    7     8  \
0       2015-01-01   150        서울역(150)       승차   441   399  572  1106
1       2015-01-01   151         시청(151)       승차   101    95  104   127
2       2015-01-01   152         종각(152)       승차   898   482  281   291
3       2015-01-01   153       종로3가(153)       승차   371   212  155   189
4       2015-01-01   154       종로5가(154)       승차    57   101   83   128
5       2015-01-01   155        동대문(155)       승차   130   176  171   265
6       2015-01-01   156        신설동(156)       승차    95   136  160   250
7       2015-01-01   157        제기동(157)       승차   102   198  138   189
8       2015-01-01   158    청량리(지하)(158)       승차   273   243  314   469
9       2015-01-01   159        동묘앞(159)       승차    48    56   57    89
10      2015-01-01   201         시청(201)       승차    39    51   95   104
11      2015-01-01   202      을지로입구(202)       승차   149   123  117   197
12      2015-01-01   203      을지로3가(203)       승차    30    94   53   112
13      2015-01-01   204      을지로4가(204)       승차    30    32   57    84
14      2015-01-01   205  동대문역사문화공원(205)       승차   125    93  120   164
15      2015-01-01   206         신당(206)       승차   115   166  137   290
16      2015-01-01   207       상왕십리(207)       승차    74   127  152   210
17      2015-01-01   208  왕십리(성동구청)(208)       승차   218   250  214   311
18      2015-01-01   209        한양대(209)       승차    38    62   45    58
19      2015-01-01   210         뚝섬(210)       승차    95   197  136   272
20      2015-01-01   211         성수(211)       승차   125   193  182   272
21      2015-01-01   212       건대입구(212)       승차  1595  1256  903   991
22      2015-01-01   213         구의(213)       승차   226   256  399   524
23      2015-01-01   214         강변(214)       승차   356   358  427   702
24      2015-01-01   215       잠실나루(215)       승차    67   120  163   268
25      2015-01-01   216         잠실(216)       승차  1174   608  610   910
26      2015-01-01   217         신천(217)       승차   640   527  376   485
27      2015-01-01   218      종합운동장(218)       승차   123   184  115   154
28      2015-01-01   219         삼성(219)       승차   295   299  237   317
29      2015-01-01   220         선릉(220)       승차   253   364  289   371
...            ...   ...             ...      ...   ...   ...  ...   ...
200720  2015-12-31  2749              철산       하차   131   282  621  1385
200721  2015-12-31  2750           광명사거리       하차   180   358  710  1117
200722  2015-12-31  2751              천왕       하차    45   166  205   310
200723  2015-12-31  2752           온수(7)       하차   108   140  363   574
200724  2015-12-31  2753             까치울       하차    14    73  119   303
200725  2015-12-31  2754         부천종합운동장       하차    30    93  240   442
200726  2015-12-31  2755              춘의       하차    42   182  865  1653
200727  2015-12-31  2756             신중동       하차    35   141  555  1518
200728  2015-12-31  2757            부천시청       하차    43   118  525  1024
200729  2015-12-31  2758              상동       하차    57   202  409  1143
200730  2015-12-31  2759           삼산체육관       하차    29    64  109   265
200731  2015-12-31  2760             굴포천       하차    27    92  196   545
200732  2015-12-31  2761         부평구청(7)       하차    40   182  330   499
200733  2015-12-31  2811              암사       하차    75   222  342   741
200734  2015-12-31  2812           천호(8)       하차    60   379  667  1471
200735  2015-12-31  2813            강동구청       하차    38   196  460  1602
200736  2015-12-31  2814            몽촌토성       하차    24   130  331  1315
200737  2015-12-31  2815           잠실(8)       하차    80   388  883  2224
200738  2015-12-31  2816              석촌       하차    34   196  334  1092
200739  2015-12-31  2817              송파       하차    38   105  169   807
200740  2015-12-31  2818         가락시장(8)       하차   131   193  453  1591
200741  2015-12-31  2819              문정       하차    57   630  415   747
200742  2015-12-31  2820              장지       하차    74   604  683  1870
200743  2015-12-31  2821           복정(8)       하차    82   496  356   594
200744  2015-12-31  2822              산성       하차    26   101  139   263
200745  2015-12-31  2823          남한산성입구       하차    60   162  417   952
200746  2015-12-31  2824           단대오거리       하차    48   207  432   804
200747  2015-12-31  2825              신흥       하차    26    73  103   230
200748  2015-12-31  2826              수진       하차    38    67  115   326
200749  2015-12-31  2827           모란(8)       하차    60    84  138   283

           9    10 ...     15    16    17    18    19    20    21    22    23  \
0       1474  2020 ...   4036  4030  3666  3738  3091  2749  3247  2437  1279
1        233   308 ...   1038  1027  1176  1133   850   950   612   497   192
2        328   449 ...   1530  2012  2176  2047  1767  1834  1825  1666   736
3        347   491 ...   1537  1791  1954  1526  1297  1149  1257   953   415
4        209   323 ...    915   984   948   962   722   576   431   241   102
5        440   483 ...    837   913   804   637   420   394   284   206   156
6        345   490 ...    504   575   518   489   308   243   206   145    62
7        272   391 ...   1084  1018   835   435   236   158   234    80    37
8        719   822 ...   1578  1725  1545  1096   893   932   751   600   179
9        167   198 ...    746   670   585   276   192    98   154    85    49
10       129   239 ...    663   880   889   860   632   564   539   395   152
11       361   550 ...   1544  1958  2079  2456  2063  1997  2274  1911   904
12       167   475 ...    433   424   450   371   329   282   195   237    92
13       173   279 ...    265   273   284   206   175   162   156   133    54
14       285   349 ...    839   964  1006   980   909   863   820   600   350
15       328   384 ...    533   541   500   411   359   236   253   170    76
16       262   293 ...    302   292   257   234   158   155   166   112    49
17       386   452 ...    694   732   768   772   617   596   659   627   448
18        85    91 ...    186   209   295   240   163   151   175   264    76
19       289   317 ...    389   365   364   333   256   221   164   120    53
20       329   358 ...    396   419   467   435   313   311   277   245   117
21      1034   962 ...   1624  1759  1888  1953  1694  1913  2075  2280  1254
22       659   608 ...    654   726   674   575   411   407   410   287   150
23      1235  1689 ...   2509  2570  2480  2244  2377  1997  1987  1312   430
24       308   342 ...    534   499   536   412   307   276   221   168    71
25      1129  1264 ...   3511  3862  3980  4295  3431  2795  3392  2453   906
26       532   630 ...    831   828   850   739   750   763   794   705   315
27       285   234 ...    398   386   433  1960   286   175   142   114    43
28       422   419 ...   2187  2777  3333  3217  2617  2402  2548  2005   406
29       445   456 ...    805   903  1132  1018   688   701   837  1014   334
...      ...   ... ...    ...   ...   ...   ...   ...   ...   ...   ...   ...
200720   994   708 ...   1671  2089  2632  3555  3156  1902  1573  1383  1000
200721   911   786 ...   2156  2466  2684  3690  3238  2079  1850  1616  1128
200722   233   203 ...    571   680   784   844   790   497   468   377   346
200723   278   212 ...    601   707   933  1183  1034   744   565   492   424
200724   133   112 ...    315   454   558   693   593   461   316   348   200
200725   170   101 ...    276   404   470   574   488   365   336   292   222
200726   431   265 ...    311   357   519   602   527   392   387   260   265
200727  1016   546 ...    965  1046  1309  1580  1489   830   742   581   512
200728   704   454 ...    981  1023  1224  1653  1724   842   679   463   457
200729   892   583 ...    900  1144  1207  1664  1450  1022   721   624   423
200730   132   169 ...    317   394   657   981   649   394   308   308   199
200731   334   256 ...    605   716   998  1175  1073   854   554   572   413
200732   244   169 ...    552   710   893  1081  1045   674   643   611   390
200733   536   407 ...   1137  1282  1642  2015  1740  1062  1002   858   677
200734  1070   755 ...   1501  1815  2321  2793  2496  1568  1308  1319   725
200735   498   371 ...    638   867   949  1168   963   626   508   489   254
200736   525   326 ...    418   436   509   652   593   475   326   280   164
200737  1434   826 ...   1206  1074  1319  1469   941   572   438   401   222
200738   757   451 ...    544   706   766   972   800   543   420   409   315
200739   415   263 ...    321   357   383   518   381   264   236   190   137
200740   667   389 ...    456   437   445   594   499   306   251   221   139
200741   310   163 ...    287   312   447   494   416   289   231   232   125
200742  1105   539 ...    816   845  1149  1237  1149   913   664   494   350
200743   366   232 ...    200   295   318   515   649   301   282   300   210
200744   170   195 ...    471   587   663   837   693   570   510   520   361
200745   491   296 ...    750   890  1003  1414  1206   826   757   803   484
200746   386   347 ...    703   940   961  1442  1296  1019   739   772   565
200747   233   220 ...    423   554   532   660   632   470   315   341   263
200748   211   181 ...    348   386   439   464   397   316   285   317   215
200749   150   181 ...    260   284   284   290   290   167   172   130   102

         24
0        73
1         6
2        37
3        15
4         3
5         0
6         1
7         2
8         2
9         0
10        0
11        0
12        0
13        0
14        0
15        0
16        0
17        6
18        0
19        0
20        1
21        0
22        0
23        0
24        0
25        0
26        0
27        0
28        0
29        0
...     ...
200720  552
200721  577
200722  219
200723  322
200724   99
200725  172
200726  131
200727  264
200728  218
200729  175
200730  108
200731  205
200732  378
200733  417
200734  717
200735  249
200736  159
200737  192
200738  276
200739   79
200740  110
200741  133
200742  306
200743  153
200744  270
200745  353
200746  339
200747  158
200748  121
200749  235

[200750 rows x 24 columns]

In [18]:
#https://github.com/pandas-dev/pandas/issues/17676
#df.melted=pd.melt(df.renamed, id_vars=["date", "id", "name", "category"], value_vars=["5", "6", "7", "8", "9", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23", "24"], var_name="time")
df.melted=pd.melt(df.renamed, id_vars=["date", "id", "name", "category"], value_vars=[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24], var_name="time")

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  This is separate from the ipykernel package so we can avoid doing imports until

In [19]:
df.melted=df.melted[df.melted.loc[:,"time"]<24]

In [20]:
#df.melted[['value']]=df.melted[['value']].apply(pd.to_numeric)

         value
0          441
1          101
2          898
3          371
4           57
5          130
6           95
7          102
8          273
9           48
10          39
11         149
12          30
13          30
14         125
15         115
16          74
17         218
18          38
19          95
20         125
21        1595
22         226
23         356
24          67
25        1174
26         640
27         123
28         295
29         253
...        ...
3814220   1000
3814221   1128
3814222    346
3814223    424
3814224    200
3814225    222
3814226    265
3814227    512
3814228    457
3814229    423
3814230    199
3814231    413
3814232    390
3814233    677
3814234    725
3814235    254
3814236    164
3814237    222
3814238    315
3814239    137
3814240    139
3814241    125
3814242    350
3814243    210
3814244    361
3814245    484
3814246    565
3814247    263
3814248    215
3814249    102

[3814250 rows x 1 columns]

In [ ]:
#df.renamed.set_index('')

In [21]:
print(df.melted)

               date    id            name category time  value
0        2015-01-01   150        서울역(150)       승차    5    441
1        2015-01-01   151         시청(151)       승차    5    101
2        2015-01-01   152         종각(152)       승차    5    898
3        2015-01-01   153       종로3가(153)       승차    5    371
4        2015-01-01   154       종로5가(154)       승차    5     57
5        2015-01-01   155        동대문(155)       승차    5    130
6        2015-01-01   156        신설동(156)       승차    5     95
7        2015-01-01   157        제기동(157)       승차    5    102
8        2015-01-01   158    청량리(지하)(158)       승차    5    273
9        2015-01-01   159        동묘앞(159)       승차    5     48
10       2015-01-01   201         시청(201)       승차    5     39
11       2015-01-01   202      을지로입구(202)       승차    5    149
12       2015-01-01   203      을지로3가(203)       승차    5     30
13       2015-01-01   204      을지로4가(204)       승차    5     30
14       2015-01-01   205  동대문역사문화공원(205)       승차    5    125
15       2015-01-01   206         신당(206)       승차    5    115
16       2015-01-01   207       상왕십리(207)       승차    5     74
17       2015-01-01   208  왕십리(성동구청)(208)       승차    5    218
18       2015-01-01   209        한양대(209)       승차    5     38
19       2015-01-01   210         뚝섬(210)       승차    5     95
20       2015-01-01   211         성수(211)       승차    5    125
21       2015-01-01   212       건대입구(212)       승차    5   1595
22       2015-01-01   213         구의(213)       승차    5    226
23       2015-01-01   214         강변(214)       승차    5    356
24       2015-01-01   215       잠실나루(215)       승차    5     67
25       2015-01-01   216         잠실(216)       승차    5   1174
26       2015-01-01   217         신천(217)       승차    5    640
27       2015-01-01   218      종합운동장(218)       승차    5    123
28       2015-01-01   219         삼성(219)       승차    5    295
29       2015-01-01   220         선릉(220)       승차    5    253
...             ...   ...             ...      ...  ...    ...
3814220  2015-12-31  2749              철산       하차   23   1000
3814221  2015-12-31  2750           광명사거리       하차   23   1128
3814222  2015-12-31  2751              천왕       하차   23    346
3814223  2015-12-31  2752           온수(7)       하차   23    424
3814224  2015-12-31  2753             까치울       하차   23    200
3814225  2015-12-31  2754         부천종합운동장       하차   23    222
3814226  2015-12-31  2755              춘의       하차   23    265
3814227  2015-12-31  2756             신중동       하차   23    512
3814228  2015-12-31  2757            부천시청       하차   23    457
3814229  2015-12-31  2758              상동       하차   23    423
3814230  2015-12-31  2759           삼산체육관       하차   23    199
3814231  2015-12-31  2760             굴포천       하차   23    413
3814232  2015-12-31  2761         부평구청(7)       하차   23    390
3814233  2015-12-31  2811              암사       하차   23    677
3814234  2015-12-31  2812           천호(8)       하차   23    725
3814235  2015-12-31  2813            강동구청       하차   23    254
3814236  2015-12-31  2814            몽촌토성       하차   23    164
3814237  2015-12-31  2815           잠실(8)       하차   23    222
3814238  2015-12-31  2816              석촌       하차   23    315
3814239  2015-12-31  2817              송파       하차   23    137
3814240  2015-12-31  2818         가락시장(8)       하차   23    139
3814241  2015-12-31  2819              문정       하차   23    125
3814242  2015-12-31  2820              장지       하차   23    350
3814243  2015-12-31  2821           복정(8)       하차   23    210
3814244  2015-12-31  2822              산성       하차   23    361
3814245  2015-12-31  2823          남한산성입구       하차   23    484
3814246  2015-12-31  2824           단대오거리       하차   23    565
3814247  2015-12-31  2825              신흥       하차   23    263
3814248  2015-12-31  2826              수진       하차   23    215
3814249  2015-12-31  2827           모란(8)       하차   23    102

[3814250 rows x 6 columns]

In [22]:
df.merged = pd.merge(df.melted, df.weather, how='left', on=["date", "time"])

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """Entry point for launching an IPython kernel.

In [23]:
print(df.merged)

               date    id            name category time  value   지점  기온(°C)  \
0        2015-01-01   150        서울역(150)       승차    5    441  108    -9.1
1        2015-01-01   151         시청(151)       승차    5    101  108    -9.1
2        2015-01-01   152         종각(152)       승차    5    898  108    -9.1
3        2015-01-01   153       종로3가(153)       승차    5    371  108    -9.1
4        2015-01-01   154       종로5가(154)       승차    5     57  108    -9.1
5        2015-01-01   155        동대문(155)       승차    5    130  108    -9.1
6        2015-01-01   156        신설동(156)       승차    5     95  108    -9.1
7        2015-01-01   157        제기동(157)       승차    5    102  108    -9.1
8        2015-01-01   158    청량리(지하)(158)       승차    5    273  108    -9.1
9        2015-01-01   159        동묘앞(159)       승차    5     48  108    -9.1
10       2015-01-01   201         시청(201)       승차    5     39  108    -9.1
11       2015-01-01   202      을지로입구(202)       승차    5    149  108    -9.1
12       2015-01-01   203      을지로3가(203)       승차    5     30  108    -9.1
13       2015-01-01   204      을지로4가(204)       승차    5     30  108    -9.1
14       2015-01-01   205  동대문역사문화공원(205)       승차    5    125  108    -9.1
15       2015-01-01   206         신당(206)       승차    5    115  108    -9.1
16       2015-01-01   207       상왕십리(207)       승차    5     74  108    -9.1
17       2015-01-01   208  왕십리(성동구청)(208)       승차    5    218  108    -9.1
18       2015-01-01   209        한양대(209)       승차    5     38  108    -9.1
19       2015-01-01   210         뚝섬(210)       승차    5     95  108    -9.1
20       2015-01-01   211         성수(211)       승차    5    125  108    -9.1
21       2015-01-01   212       건대입구(212)       승차    5   1595  108    -9.1
22       2015-01-01   213         구의(213)       승차    5    226  108    -9.1
23       2015-01-01   214         강변(214)       승차    5    356  108    -9.1
24       2015-01-01   215       잠실나루(215)       승차    5     67  108    -9.1
25       2015-01-01   216         잠실(216)       승차    5   1174  108    -9.1
26       2015-01-01   217         신천(217)       승차    5    640  108    -9.1
27       2015-01-01   218      종합운동장(218)       승차    5    123  108    -9.1
28       2015-01-01   219         삼성(219)       승차    5    295  108    -9.1
29       2015-01-01   220         선릉(220)       승차    5    253  108    -9.1
...             ...   ...             ...      ...  ...    ...  ...     ...
3814220  2015-12-31  2749              철산       하차   23   1000  108    -1.6
3814221  2015-12-31  2750           광명사거리       하차   23   1128  108    -1.6
3814222  2015-12-31  2751              천왕       하차   23    346  108    -1.6
3814223  2015-12-31  2752           온수(7)       하차   23    424  108    -1.6
3814224  2015-12-31  2753             까치울       하차   23    200  108    -1.6
3814225  2015-12-31  2754         부천종합운동장       하차   23    222  108    -1.6
3814226  2015-12-31  2755              춘의       하차   23    265  108    -1.6
3814227  2015-12-31  2756             신중동       하차   23    512  108    -1.6
3814228  2015-12-31  2757            부천시청       하차   23    457  108    -1.6
3814229  2015-12-31  2758              상동       하차   23    423  108    -1.6
3814230  2015-12-31  2759           삼산체육관       하차   23    199  108    -1.6
3814231  2015-12-31  2760             굴포천       하차   23    413  108    -1.6
3814232  2015-12-31  2761         부평구청(7)       하차   23    390  108    -1.6
3814233  2015-12-31  2811              암사       하차   23    677  108    -1.6
3814234  2015-12-31  2812           천호(8)       하차   23    725  108    -1.6
3814235  2015-12-31  2813            강동구청       하차   23    254  108    -1.6
3814236  2015-12-31  2814            몽촌토성       하차   23    164  108    -1.6
3814237  2015-12-31  2815           잠실(8)       하차   23    222  108    -1.6
3814238  2015-12-31  2816              석촌       하차   23    315  108    -1.6
3814239  2015-12-31  2817              송파       하차   23    137  108    -1.6
3814240  2015-12-31  2818         가락시장(8)       하차   23    139  108    -1.6
3814241  2015-12-31  2819              문정       하차   23    125  108    -1.6
3814242  2015-12-31  2820              장지       하차   23    350  108    -1.6
3814243  2015-12-31  2821           복정(8)       하차   23    210  108    -1.6
3814244  2015-12-31  2822              산성       하차   23    361  108    -1.6
3814245  2015-12-31  2823          남한산성입구       하차   23    484  108    -1.6
3814246  2015-12-31  2824           단대오거리       하차   23    565  108    -1.6
3814247  2015-12-31  2825              신흥       하차   23    263  108    -1.6
3814248  2015-12-31  2826              수진       하차   23    215  108    -1.6
3814249  2015-12-31  2827           모란(8)       하차   23    102  108    -1.6

         강수량(mm)  풍속(m/s)      ...        운형(운형약어)  최저운고(100m )  시정(10m)  \
0            NaN      5.7      ...             NaN          NaN   1800.0
1            NaN      5.7      ...             NaN          NaN   1800.0
2            NaN      5.7      ...             NaN          NaN   1800.0
3            NaN      5.7      ...             NaN          NaN   1800.0
4            NaN      5.7      ...             NaN          NaN   1800.0
5            NaN      5.7      ...             NaN          NaN   1800.0
6            NaN      5.7      ...             NaN          NaN   1800.0
7            NaN      5.7      ...             NaN          NaN   1800.0
8            NaN      5.7      ...             NaN          NaN   1800.0
9            NaN      5.7      ...             NaN          NaN   1800.0
10           NaN      5.7      ...             NaN          NaN   1800.0
11           NaN      5.7      ...             NaN          NaN   1800.0
12           NaN      5.7      ...             NaN          NaN   1800.0
13           NaN      5.7      ...             NaN          NaN   1800.0
14           NaN      5.7      ...             NaN          NaN   1800.0
15           NaN      5.7      ...             NaN          NaN   1800.0
16           NaN      5.7      ...             NaN          NaN   1800.0
17           NaN      5.7      ...             NaN          NaN   1800.0
18           NaN      5.7      ...             NaN          NaN   1800.0
19           NaN      5.7      ...             NaN          NaN   1800.0
20           NaN      5.7      ...             NaN          NaN   1800.0
21           NaN      5.7      ...             NaN          NaN   1800.0
22           NaN      5.7      ...             NaN          NaN   1800.0
23           NaN      5.7      ...             NaN          NaN   1800.0
24           NaN      5.7      ...             NaN          NaN   1800.0
25           NaN      5.7      ...             NaN          NaN   1800.0
26           NaN      5.7      ...             NaN          NaN   1800.0
27           NaN      5.7      ...             NaN          NaN   1800.0
28           NaN      5.7      ...             NaN          NaN   1800.0
29           NaN      5.7      ...             NaN          NaN   1800.0
...          ...      ...      ...             ...          ...      ...
3814220      NaN      0.8      ...             NaN          NaN    500.0
3814221      NaN      0.8      ...             NaN          NaN    500.0
3814222      NaN      0.8      ...             NaN          NaN    500.0
3814223      NaN      0.8      ...             NaN          NaN    500.0
3814224      NaN      0.8      ...             NaN          NaN    500.0
3814225      NaN      0.8      ...             NaN          NaN    500.0
3814226      NaN      0.8      ...             NaN          NaN    500.0
3814227      NaN      0.8      ...             NaN          NaN    500.0
3814228      NaN      0.8      ...             NaN          NaN    500.0
3814229      NaN      0.8      ...             NaN          NaN    500.0
3814230      NaN      0.8      ...             NaN          NaN    500.0
3814231      NaN      0.8      ...             NaN          NaN    500.0
3814232      NaN      0.8      ...             NaN          NaN    500.0
3814233      NaN      0.8      ...             NaN          NaN    500.0
3814234      NaN      0.8      ...             NaN          NaN    500.0
3814235      NaN      0.8      ...             NaN          NaN    500.0
3814236      NaN      0.8      ...             NaN          NaN    500.0
3814237      NaN      0.8      ...             NaN          NaN    500.0
3814238      NaN      0.8      ...             NaN          NaN    500.0
3814239      NaN      0.8      ...             NaN          NaN    500.0
3814240      NaN      0.8      ...             NaN          NaN    500.0
3814241      NaN      0.8      ...             NaN          NaN    500.0
3814242      NaN      0.8      ...             NaN          NaN    500.0
3814243      NaN      0.8      ...             NaN          NaN    500.0
3814244      NaN      0.8      ...             NaN          NaN    500.0
3814245      NaN      0.8      ...             NaN          NaN    500.0
3814246      NaN      0.8      ...             NaN          NaN    500.0
3814247      NaN      0.8      ...             NaN          NaN    500.0
3814248      NaN      0.8      ...             NaN          NaN    500.0
3814249      NaN      0.8      ...             NaN          NaN    500.0

         지면상태(지면상태코드)  현상번호(국내식)  지면온도(°C)  5cm 지중온도(°C)  10cm 지중온도(°C)  \
0                 NaN        NaN      -6.3          -4.7           -2.4
1                 NaN        NaN      -6.3          -4.7           -2.4
2                 NaN        NaN      -6.3          -4.7           -2.4
3                 NaN        NaN      -6.3          -4.7           -2.4
4                 NaN        NaN      -6.3          -4.7           -2.4
5                 NaN        NaN      -6.3          -4.7           -2.4
6                 NaN        NaN      -6.3          -4.7           -2.4
7                 NaN        NaN      -6.3          -4.7           -2.4
8                 NaN        NaN      -6.3          -4.7           -2.4
9                 NaN        NaN      -6.3          -4.7           -2.4
10                NaN        NaN      -6.3          -4.7           -2.4
11                NaN        NaN      -6.3          -4.7           -2.4
12                NaN        NaN      -6.3          -4.7           -2.4
13                NaN        NaN      -6.3          -4.7           -2.4
14                NaN        NaN      -6.3          -4.7           -2.4
15                NaN        NaN      -6.3          -4.7           -2.4
16                NaN        NaN      -6.3          -4.7           -2.4
17                NaN        NaN      -6.3          -4.7           -2.4
18                NaN        NaN      -6.3          -4.7           -2.4
19                NaN        NaN      -6.3          -4.7           -2.4
20                NaN        NaN      -6.3          -4.7           -2.4
21                NaN        NaN      -6.3          -4.7           -2.4
22                NaN        NaN      -6.3          -4.7           -2.4
23                NaN        NaN      -6.3          -4.7           -2.4
24                NaN        NaN      -6.3          -4.7           -2.4
25                NaN        NaN      -6.3          -4.7           -2.4
26                NaN        NaN      -6.3          -4.7           -2.4
27                NaN        NaN      -6.3          -4.7           -2.4
28                NaN        NaN      -6.3          -4.7           -2.4
29                NaN        NaN      -6.3          -4.7           -2.4
...               ...        ...       ...           ...            ...
3814220           NaN       19.0      -0.7          -0.2            0.1
3814221           NaN       19.0      -0.7          -0.2            0.1
3814222           NaN       19.0      -0.7          -0.2            0.1
3814223           NaN       19.0      -0.7          -0.2            0.1
3814224           NaN       19.0      -0.7          -0.2            0.1
3814225           NaN       19.0      -0.7          -0.2            0.1
3814226           NaN       19.0      -0.7          -0.2            0.1
3814227           NaN       19.0      -0.7          -0.2            0.1
3814228           NaN       19.0      -0.7          -0.2            0.1
3814229           NaN       19.0      -0.7          -0.2            0.1
3814230           NaN       19.0      -0.7          -0.2            0.1
3814231           NaN       19.0      -0.7          -0.2            0.1
3814232           NaN       19.0      -0.7          -0.2            0.1
3814233           NaN       19.0      -0.7          -0.2            0.1
3814234           NaN       19.0      -0.7          -0.2            0.1
3814235           NaN       19.0      -0.7          -0.2            0.1
3814236           NaN       19.0      -0.7          -0.2            0.1
3814237           NaN       19.0      -0.7          -0.2            0.1
3814238           NaN       19.0      -0.7          -0.2            0.1
3814239           NaN       19.0      -0.7          -0.2            0.1
3814240           NaN       19.0      -0.7          -0.2            0.1
3814241           NaN       19.0      -0.7          -0.2            0.1
3814242           NaN       19.0      -0.7          -0.2            0.1
3814243           NaN       19.0      -0.7          -0.2            0.1
3814244           NaN       19.0      -0.7          -0.2            0.1
3814245           NaN       19.0      -0.7          -0.2            0.1
3814246           NaN       19.0      -0.7          -0.2            0.1
3814247           NaN       19.0      -0.7          -0.2            0.1
3814248           NaN       19.0      -0.7          -0.2            0.1
3814249           NaN       19.0      -0.7          -0.2            0.1

         20cm 지중온도(°C)  30cm 지중온도(°C)
0                  0.0            0.7
1                  0.0            0.7
2                  0.0            0.7
3                  0.0            0.7
4                  0.0            0.7
5                  0.0            0.7
6                  0.0            0.7
7                  0.0            0.7
8                  0.0            0.7
9                  0.0            0.7
10                 0.0            0.7
11                 0.0            0.7
12                 0.0            0.7
13                 0.0            0.7
14                 0.0            0.7
15                 0.0            0.7
16                 0.0            0.7
17                 0.0            0.7
18                 0.0            0.7
19                 0.0            0.7
20                 0.0            0.7
21                 0.0            0.7
22                 0.0            0.7
23                 0.0            0.7
24                 0.0            0.7
25                 0.0            0.7
26                 0.0            0.7
27                 0.0            0.7
28                 0.0            0.7
29                 0.0            0.7
...                ...            ...
3814220            1.3            1.9
3814221            1.3            1.9
3814222            1.3            1.9
3814223            1.3            1.9
3814224            1.3            1.9
3814225            1.3            1.9
3814226            1.3            1.9
3814227            1.3            1.9
3814228            1.3            1.9
3814229            1.3            1.9
3814230            1.3            1.9
3814231            1.3            1.9
3814232            1.3            1.9
3814233            1.3            1.9
3814234            1.3            1.9
3814235            1.3            1.9
3814236            1.3            1.9
3814237            1.3            1.9
3814238            1.3            1.9
3814239            1.3            1.9
3814240            1.3            1.9
3814241            1.3            1.9
3814242            1.3            1.9
3814243            1.3            1.9
3814244            1.3            1.9
3814245            1.3            1.9
3814246            1.3            1.9
3814247            1.3            1.9
3814248            1.3            1.9
3814249            1.3            1.9

[3814250 rows x 32 columns]

In [24]:
df.merged = df.merged.fillna(0)

In [25]:
df.merged.loc[df.merged['category']=='승차','category'] = 0

In [26]:
df.merged.loc[df.merged['category']=='하차','category'] = 1

In [ ]:
#df.melted.loc[0,'date'] == df.weather.loc[0,'date']

In [ ]:
#df.melted.loc[0,'time'] == df.weather.loc[0,'time']

In [ ]:
#pd.isna(merged['지점']).sum()

In [ ]:
#merged=merged[pd.isna(merged['지점'])]

In [27]:
df.merged.columns

Index(['date', 'id', 'name', 'category', 'time', 'value', '지점', '기온(°C)',
       '강수량(mm)', '풍속(m/s)', '풍향(16방위)', '습도(%)', '증기압(hPa)', '이슬점온도(°C)',
       '현지기압(hPa)', '해면기압(hPa)', '일조(hr)', '일사(MJ/m2)', '적설(cm)', '3시간신적설(cm)',
       '전운량(10분위)', '중하층운량(10분위)', '운형(운형약어)', '최저운고(100m )', '시정(10m)',
       '지면상태(지면상태코드)', '현상번호(국내식)', '지면온도(°C)', '5cm 지중온도(°C)',
       '10cm 지중온도(°C)', '20cm 지중온도(°C)', '30cm 지중온도(°C)'],
      dtype='object')

In [28]:
df.X = df.merged.iloc[:,[3,4,7,8,9,11,16,17,18]]
#df.training.X.columns

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """Entry point for launching an IPython kernel.

In [29]:
df.Y=df.merged.iloc[:,5]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """Entry point for launching an IPython kernel.

In [30]:
print(df.X)

         category  time  기온(°C)  강수량(mm)  풍속(m/s)  습도(%)  일조(hr)  일사(MJ/m2)  \
0               0     5    -9.1      0.0      5.7   35.0     0.0        0.0
1               0     5    -9.1      0.0      5.7   35.0     0.0        0.0
2               0     5    -9.1      0.0      5.7   35.0     0.0        0.0
3               0     5    -9.1      0.0      5.7   35.0     0.0        0.0
4               0     5    -9.1      0.0      5.7   35.0     0.0        0.0
5               0     5    -9.1      0.0      5.7   35.0     0.0        0.0
6               0     5    -9.1      0.0      5.7   35.0     0.0        0.0
7               0     5    -9.1      0.0      5.7   35.0     0.0        0.0
8               0     5    -9.1      0.0      5.7   35.0     0.0        0.0
9               0     5    -9.1      0.0      5.7   35.0     0.0        0.0
10              0     5    -9.1      0.0      5.7   35.0     0.0        0.0
11              0     5    -9.1      0.0      5.7   35.0     0.0        0.0
12              0     5    -9.1      0.0      5.7   35.0     0.0        0.0
13              0     5    -9.1      0.0      5.7   35.0     0.0        0.0
14              0     5    -9.1      0.0      5.7   35.0     0.0        0.0
15              0     5    -9.1      0.0      5.7   35.0     0.0        0.0
16              0     5    -9.1      0.0      5.7   35.0     0.0        0.0
17              0     5    -9.1      0.0      5.7   35.0     0.0        0.0
18              0     5    -9.1      0.0      5.7   35.0     0.0        0.0
19              0     5    -9.1      0.0      5.7   35.0     0.0        0.0
20              0     5    -9.1      0.0      5.7   35.0     0.0        0.0
21              0     5    -9.1      0.0      5.7   35.0     0.0        0.0
22              0     5    -9.1      0.0      5.7   35.0     0.0        0.0
23              0     5    -9.1      0.0      5.7   35.0     0.0        0.0
24              0     5    -9.1      0.0      5.7   35.0     0.0        0.0
25              0     5    -9.1      0.0      5.7   35.0     0.0        0.0
26              0     5    -9.1      0.0      5.7   35.0     0.0        0.0
27              0     5    -9.1      0.0      5.7   35.0     0.0        0.0
28              0     5    -9.1      0.0      5.7   35.0     0.0        0.0
29              0     5    -9.1      0.0      5.7   35.0     0.0        0.0
...           ...   ...     ...      ...      ...    ...     ...        ...
3814220         1    23    -1.6      0.0      0.8   85.0     0.0        0.0
3814221         1    23    -1.6      0.0      0.8   85.0     0.0        0.0
3814222         1    23    -1.6      0.0      0.8   85.0     0.0        0.0
3814223         1    23    -1.6      0.0      0.8   85.0     0.0        0.0
3814224         1    23    -1.6      0.0      0.8   85.0     0.0        0.0
3814225         1    23    -1.6      0.0      0.8   85.0     0.0        0.0
3814226         1    23    -1.6      0.0      0.8   85.0     0.0        0.0
3814227         1    23    -1.6      0.0      0.8   85.0     0.0        0.0
3814228         1    23    -1.6      0.0      0.8   85.0     0.0        0.0
3814229         1    23    -1.6      0.0      0.8   85.0     0.0        0.0
3814230         1    23    -1.6      0.0      0.8   85.0     0.0        0.0
3814231         1    23    -1.6      0.0      0.8   85.0     0.0        0.0
3814232         1    23    -1.6      0.0      0.8   85.0     0.0        0.0
3814233         1    23    -1.6      0.0      0.8   85.0     0.0        0.0
3814234         1    23    -1.6      0.0      0.8   85.0     0.0        0.0
3814235         1    23    -1.6      0.0      0.8   85.0     0.0        0.0
3814236         1    23    -1.6      0.0      0.8   85.0     0.0        0.0
3814237         1    23    -1.6      0.0      0.8   85.0     0.0        0.0
3814238         1    23    -1.6      0.0      0.8   85.0     0.0        0.0
3814239         1    23    -1.6      0.0      0.8   85.0     0.0        0.0
3814240         1    23    -1.6      0.0      0.8   85.0     0.0        0.0
3814241         1    23    -1.6      0.0      0.8   85.0     0.0        0.0
3814242         1    23    -1.6      0.0      0.8   85.0     0.0        0.0
3814243         1    23    -1.6      0.0      0.8   85.0     0.0        0.0
3814244         1    23    -1.6      0.0      0.8   85.0     0.0        0.0
3814245         1    23    -1.6      0.0      0.8   85.0     0.0        0.0
3814246         1    23    -1.6      0.0      0.8   85.0     0.0        0.0
3814247         1    23    -1.6      0.0      0.8   85.0     0.0        0.0
3814248         1    23    -1.6      0.0      0.8   85.0     0.0        0.0
3814249         1    23    -1.6      0.0      0.8   85.0     0.0        0.0

         적설(cm)
0           0.0
1           0.0
2           0.0
3           0.0
4           0.0
5           0.0
6           0.0
7           0.0
8           0.0
9           0.0
10          0.0
11          0.0
12          0.0
13          0.0
14          0.0
15          0.0
16          0.0
17          0.0
18          0.0
19          0.0
20          0.0
21          0.0
22          0.0
23          0.0
24          0.0
25          0.0
26          0.0
27          0.0
28          0.0
29          0.0
...         ...
3814220     0.0
3814221     0.0
3814222     0.0
3814223     0.0
3814224     0.0
3814225     0.0
3814226     0.0
3814227     0.0
3814228     0.0
3814229     0.0
3814230     0.0
3814231     0.0
3814232     0.0
3814233     0.0
3814234     0.0
3814235     0.0
3814236     0.0
3814237     0.0
3814238     0.0
3814239     0.0
3814240     0.0
3814241     0.0
3814242     0.0
3814243     0.0
3814244     0.0
3814245     0.0
3814246     0.0
3814247     0.0
3814248     0.0
3814249     0.0

[3814250 rows x 9 columns]

In [31]:
from sklearn.linear_model import LinearRegression
lm = LinearRegression()

In [32]:
lm.fit(df.X, df.Y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)