In [3]:
import pandas as pd

In [4]:
# -*- coding: utf-8 -*-

In [5]:
df = pd.read_csv('raw_data/2015.csv', encoding='utf-8', index_col =False)

C:\ProgramData\Anaconda3\envs\tensorflow\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (4,23) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
print(df)

                날짜   역번호              역명  구분   05~06   06~07 07~08   08~09  \
0       2015-01-01   150        서울역(150)  승차    441     399   572   1,106
1       2015-01-01   151         시청(151)  승차    101      95   104     127
2       2015-01-01   152         종각(152)  승차    898     482   281     291
3       2015-01-01   153       종로3가(153)  승차    371     212   155     189
4       2015-01-01   154       종로5가(154)  승차     57     101    83     128
5       2015-01-01   155        동대문(155)  승차    130     176   171     265
6       2015-01-01   156        신설동(156)  승차     95     136   160     250
7       2015-01-01   157        제기동(157)  승차    102     198   138     189
8       2015-01-01   158    청량리(지하)(158)  승차    273     243   314     469
9       2015-01-01   159        동묘앞(159)  승차     48      56    57      89
10      2015-01-01   201         시청(201)  승차     39      51    95     104
11      2015-01-01   202      을지로입구(202)  승차    149     123   117     197
12      2015-01-01   203      을지로3가(203)  승차     30      94    53     112
13      2015-01-01   204      을지로4가(204)  승차     30      32    57      84
14      2015-01-01   205  동대문역사문화공원(205)  승차    125      93   120     164
15      2015-01-01   206         신당(206)  승차    115     166   137     290
16      2015-01-01   207       상왕십리(207)  승차     74     127   152     210
17      2015-01-01   208  왕십리(성동구청)(208)  승차    218     250   214     311
18      2015-01-01   209        한양대(209)  승차     38      62    45      58
19      2015-01-01   210         뚝섬(210)  승차     95     197   136     272
20      2015-01-01   211         성수(211)  승차    125     193   182     272
21      2015-01-01   212       건대입구(212)  승차  1,595   1,256   903     991
22      2015-01-01   213         구의(213)  승차    226     256   399     524
23      2015-01-01   214         강변(214)  승차    356     358   427     702
24      2015-01-01   215       잠실나루(215)  승차     67     120   163     268
25      2015-01-01   216         잠실(216)  승차  1,174     608   610     910
26      2015-01-01   217         신천(217)  승차    640     527   376     485
27      2015-01-01   218      종합운동장(218)  승차    123     184   115     154
28      2015-01-01   219         삼성(219)  승차    295     299   237     317
29      2015-01-01   220         선릉(220)  승차    253     364   289     371
...            ...   ...             ...  ..     ...     ...   ...     ...
200720  2015-12-31  2749              철산  하차     131    282   621   1,385
200721  2015-12-31  2750           광명사거리  하차     180    358   710   1,117
200722  2015-12-31  2751              천왕  하차      45    166   205     310
200723  2015-12-31  2752           온수(7)  하차     108    140   363     574
200724  2015-12-31  2753             까치울  하차      14     73   119     303
200725  2015-12-31  2754         부천종합운동장  하차      30     93   240     442
200726  2015-12-31  2755              춘의  하차      42    182   865   1,653
200727  2015-12-31  2756             신중동  하차      35    141   555   1,518
200728  2015-12-31  2757            부천시청  하차      43    118   525   1,024
200729  2015-12-31  2758              상동  하차      57    202   409   1,143
200730  2015-12-31  2759           삼산체육관  하차      29     64   109     265
200731  2015-12-31  2760             굴포천  하차      27     92   196     545
200732  2015-12-31  2761         부평구청(7)  하차      40    182   330     499
200733  2015-12-31  2811              암사  하차      75    222   342     741
200734  2015-12-31  2812           천호(8)  하차      60    379   667   1,471
200735  2015-12-31  2813            강동구청  하차      38    196   460   1,602
200736  2015-12-31  2814            몽촌토성  하차      24    130   331   1,315
200737  2015-12-31  2815           잠실(8)  하차      80    388   883   2,224
200738  2015-12-31  2816              석촌  하차      34    196   334   1,092
200739  2015-12-31  2817              송파  하차      38    105   169     807
200740  2015-12-31  2818         가락시장(8)  하차     131    193   453   1,591
200741  2015-12-31  2819              문정  하차      57    630   415     747
200742  2015-12-31  2820              장지  하차      74    604   683   1,870
200743  2015-12-31  2821           복정(8)  하차      82    496   356     594
200744  2015-12-31  2822              산성  하차      26    101   139     263
200745  2015-12-31  2823          남한산성입구  하차      60    162   417     952
200746  2015-12-31  2824           단대오거리  하차      48    207   432     804
200747  2015-12-31  2825              신흥  하차      26     73   103     230
200748  2015-12-31  2826              수진  하차      38     67   115     326
200749  2015-12-31  2827           모란(8)  하차      60     84   138     283

         09~10   10~11  ...    15~16   16~17   17~18   18~19   19~20   20~21  \
0       1,474   2,020   ...   4,036   4,030   3,666   3,738   3,091   2,749
1         233     308   ...   1,038   1,027   1,176   1,133     850     950
2         328     449   ...   1,530   2,012   2,176   2,047   1,767   1,834
3         347     491   ...   1,537   1,791   1,954   1,526   1,297   1,149
4         209     323   ...     915     984     948     962     722     576
5         440     483   ...     837     913     804     637     420     394
6         345     490   ...     504     575     518     489     308     243
7         272     391   ...   1,084   1,018     835     435     236     158
8         719     822   ...   1,578   1,725   1,545   1,096     893     932
9         167     198   ...     746     670     585     276     192      98
10        129     239   ...     663     880     889     860     632     564
11        361     550   ...   1,544   1,958   2,079   2,456   2,063   1,997
12        167     475   ...     433     424     450     371     329     282
13        173     279   ...     265     273     284     206     175     162
14        285     349   ...     839     964   1,006     980     909     863
15        328     384   ...     533     541     500     411     359     236
16        262     293   ...     302     292     257     234     158     155
17        386     452   ...     694     732     768     772     617     596
18         85      91   ...     186     209     295     240     163     151
19        289     317   ...     389     365     364     333     256     221
20        329     358   ...     396     419     467     435     313     311
21      1,034     962   ...   1,624   1,759   1,888   1,953   1,694   1,913
22        659     608   ...     654     726     674     575     411     407
23      1,235   1,689   ...   2,509   2,570   2,480   2,244   2,377   1,997
24        308     342   ...     534     499     536     412     307     276
25      1,129   1,264   ...   3,511   3,862   3,980   4,295   3,431   2,795
26        532     630   ...     831     828     850     739     750     763
27        285     234   ...     398     386     433   1,960     286     175
28        422     419   ...   2,187   2,777   3,333   3,217   2,617   2,402
29        445     456   ...     805     903   1,132   1,018     688     701
...        ...     ...  ...      ...     ...     ...     ...     ...     ...
200720    994     708   ...   1,671   2,089   2,632   3,555   3,156   1,902
200721    911     786   ...   2,156   2,466   2,684   3,690   3,238   2,079
200722    233     203   ...     571     680     784     844     790     497
200723    278     212   ...     601     707     933   1,183   1,034     744
200724    133     112   ...     315     454     558     693     593     461
200725    170     101   ...     276     404     470     574     488     365
200726    431     265   ...     311     357     519     602     527     392
200727  1,016     546   ...     965   1,046   1,309   1,580   1,489     830
200728    704     454   ...     981   1,023   1,224   1,653   1,724     842
200729    892     583   ...     900   1,144   1,207   1,664   1,450   1,022
200730    132     169   ...     317     394     657     981     649     394
200731    334     256   ...     605     716     998   1,175   1,073     854
200732    244     169   ...     552     710     893   1,081   1,045     674
200733    536     407   ...   1,137   1,282   1,642   2,015   1,740   1,062
200734  1,070     755   ...   1,501   1,815   2,321   2,793   2,496   1,568
200735    498     371   ...     638     867     949   1,168     963     626
200736    525     326   ...     418     436     509     652     593     475
200737  1,434     826   ...   1,206   1,074   1,319   1,469     941     572
200738    757     451   ...     544     706     766     972     800     543
200739    415     263   ...     321     357     383     518     381     264
200740    667     389   ...     456     437     445     594     499     306
200741    310     163   ...     287     312     447     494     416     289
200742  1,105     539   ...     816     845   1,149   1,237   1,149     913
200743    366     232   ...     200     295     318     515     649     301
200744    170     195   ...     471     587     663     837     693     570
200745    491     296   ...     750     890   1,003   1,414   1,206     826
200746    386     347   ...     703     940     961   1,442   1,296   1,019
200747    233     220   ...     423     554     532     660     632     470
200748    211     181   ...     348     386     439     464     397     316
200749    150     181   ...     260     284     284     290     290     167

         21~22   22~23   23~24   24~
0       3,247   2,437   1,279    73
1         612     497     192     6
2       1,825   1,666     736    37
3       1,257     953     415    15
4         431     241     102     3
5         284     206     156     0
6         206     145      62     1
7         234      80      37     2
8         751     600     179     2
9         154      85      49     0
10        539     395     152     0
11      2,274   1,911     904     0
12        195     237      92     0
13        156     133      54     0
14        820     600     350     0
15        253     170      76     0
16        166     112      49     0
17        659     627     448     6
18        175     264      76     0
19        164     120      53     0
20        277     245     117     1
21      2,075   2,280   1,254     0
22        410     287     150     0
23      1,987   1,312     430     0
24        221     168      71     0
25      3,392   2,453     906     0
26        794     705     315     0
27        142     114      43     0
28      2,548   2,005     406     0
29        837   1,014     334     0
...        ...     ...     ...   ...
200720  1,573   1,383   1,000   552
200721  1,850   1,616   1,128   577
200722    468     377     346   219
200723    565     492     424   322
200724    316     348     200    99
200725    336     292     222   172
200726    387     260     265   131
200727    742     581     512   264
200728    679     463     457   218
200729    721     624     423   175
200730    308     308     199   108
200731    554     572     413   205
200732    643     611     390   378
200733  1,002     858     677   417
200734  1,308   1,319     725   717
200735    508     489     254   249
200736    326     280     164   159
200737    438     401     222   192
200738    420     409     315   276
200739    236     190     137    79
200740    251     221     139   110
200741    231     232     125   133
200742    664     494     350   306
200743    282     300     210   153
200744    510     520     361   270
200745    757     803     484   353
200746    739     772     565   339
200747    315     341     263   158
200748    285     317     215   121
200749    172     130     102   235

[200750 rows x 24 columns]

In [9]:
df.columns

Index(['날짜', '역번호', '역명', '구분', '05~06', '06~07', '07~08', '08~09', '09~10',
       '10~11', '11~12', '12~13', '13~14', '14~15', '15~16', '16~17', '17~18',
       '18~19', '19~20', '20~21', '21~22', '22~23', '23~24', '24~'],
      dtype='object')

In [7]:
df.renamed = df.rename(index=str, columns={"날짜": "date", "역번호": "id", "역명": "name", "구분":"category", "05~06": "05", "06~07": "06", "07~08": "07", "08~09": "08", "09~10": "09", "10~11": "10", "11~12": "11", "12~13": "12", "13~14": "13", "14~15": "14", "15~16": "15", "16~17": "16", "17~18": "17", "18~19": "18", "19~20": "19", "20~21": "20", "21~22": "21", "22~23": "22", "23~24": "23", "24~": "24"})

C:\ProgramData\Anaconda3\envs\tensorflow\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """Entry point for launching an IPython kernel.

In [12]:
#https://github.com/pandas-dev/pandas/issues/17676
pd.melt(df.renamed, id_vars=["date", "id", "name", "category"], value_vars=["05", "06", "07", "08", "09", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23", "24"])

               date    id            name category variable   value
0        2015-01-01   150        서울역(150)       승차       05    441
1        2015-01-01   151         시청(151)       승차       05    101
2        2015-01-01   152         종각(152)       승차       05    898
3        2015-01-01   153       종로3가(153)       승차       05    371
4        2015-01-01   154       종로5가(154)       승차       05     57
5        2015-01-01   155        동대문(155)       승차       05    130
6        2015-01-01   156        신설동(156)       승차       05     95
7        2015-01-01   157        제기동(157)       승차       05    102
8        2015-01-01   158    청량리(지하)(158)       승차       05    273
9        2015-01-01   159        동묘앞(159)       승차       05     48
10       2015-01-01   201         시청(201)       승차       05     39
11       2015-01-01   202      을지로입구(202)       승차       05    149
12       2015-01-01   203      을지로3가(203)       승차       05     30
13       2015-01-01   204      을지로4가(204)       승차       05     30
14       2015-01-01   205  동대문역사문화공원(205)       승차       05    125
15       2015-01-01   206         신당(206)       승차       05    115
16       2015-01-01   207       상왕십리(207)       승차       05     74
17       2015-01-01   208  왕십리(성동구청)(208)       승차       05    218
18       2015-01-01   209        한양대(209)       승차       05     38
19       2015-01-01   210         뚝섬(210)       승차       05     95
20       2015-01-01   211         성수(211)       승차       05    125
21       2015-01-01   212       건대입구(212)       승차       05  1,595
22       2015-01-01   213         구의(213)       승차       05    226
23       2015-01-01   214         강변(214)       승차       05    356
24       2015-01-01   215       잠실나루(215)       승차       05     67
25       2015-01-01   216         잠실(216)       승차       05  1,174
26       2015-01-01   217         신천(217)       승차       05    640
27       2015-01-01   218      종합운동장(218)       승차       05    123
28       2015-01-01   219         삼성(219)       승차       05    295
29       2015-01-01   220         선릉(220)       승차       05    253
...             ...   ...             ...      ...      ...     ...
4014970  2015-12-31  2749              철산       하차       24    552
4014971  2015-12-31  2750           광명사거리       하차       24    577
4014972  2015-12-31  2751              천왕       하차       24    219
4014973  2015-12-31  2752           온수(7)       하차       24    322
4014974  2015-12-31  2753             까치울       하차       24     99
4014975  2015-12-31  2754         부천종합운동장       하차       24    172
4014976  2015-12-31  2755              춘의       하차       24    131
4014977  2015-12-31  2756             신중동       하차       24    264
4014978  2015-12-31  2757            부천시청       하차       24    218
4014979  2015-12-31  2758              상동       하차       24    175
4014980  2015-12-31  2759           삼산체육관       하차       24    108
4014981  2015-12-31  2760             굴포천       하차       24    205
4014982  2015-12-31  2761         부평구청(7)       하차       24    378
4014983  2015-12-31  2811              암사       하차       24    417
4014984  2015-12-31  2812           천호(8)       하차       24    717
4014985  2015-12-31  2813            강동구청       하차       24    249
4014986  2015-12-31  2814            몽촌토성       하차       24    159
4014987  2015-12-31  2815           잠실(8)       하차       24    192
4014988  2015-12-31  2816              석촌       하차       24    276
4014989  2015-12-31  2817              송파       하차       24     79
4014990  2015-12-31  2818         가락시장(8)       하차       24    110
4014991  2015-12-31  2819              문정       하차       24    133
4014992  2015-12-31  2820              장지       하차       24    306
4014993  2015-12-31  2821           복정(8)       하차       24    153
4014994  2015-12-31  2822              산성       하차       24    270
4014995  2015-12-31  2823          남한산성입구       하차       24    353
4014996  2015-12-31  2824           단대오거리       하차       24    339
4014997  2015-12-31  2825              신흥       하차       24    158
4014998  2015-12-31  2826              수진       하차       24    121
4014999  2015-12-31  2827           모란(8)       하차       24    235

[4015000 rows x 6 columns]

In [ ]:
df.renamed.set_index('')

In [12]:
print(df.renamed)

              date    id            name category      05      06    07  \
0       2015-01-01   150        서울역(150)       승차    441     399   572
1       2015-01-01   151         시청(151)       승차    101      95   104
2       2015-01-01   152         종각(152)       승차    898     482   281
3       2015-01-01   153       종로3가(153)       승차    371     212   155
4       2015-01-01   154       종로5가(154)       승차     57     101    83
5       2015-01-01   155        동대문(155)       승차    130     176   171
6       2015-01-01   156        신설동(156)       승차     95     136   160
7       2015-01-01   157        제기동(157)       승차    102     198   138
8       2015-01-01   158    청량리(지하)(158)       승차    273     243   314
9       2015-01-01   159        동묘앞(159)       승차     48      56    57
10      2015-01-01   201         시청(201)       승차     39      51    95
11      2015-01-01   202      을지로입구(202)       승차    149     123   117
12      2015-01-01   203      을지로3가(203)       승차     30      94    53
13      2015-01-01   204      을지로4가(204)       승차     30      32    57
14      2015-01-01   205  동대문역사문화공원(205)       승차    125      93   120
15      2015-01-01   206         신당(206)       승차    115     166   137
16      2015-01-01   207       상왕십리(207)       승차     74     127   152
17      2015-01-01   208  왕십리(성동구청)(208)       승차    218     250   214
18      2015-01-01   209        한양대(209)       승차     38      62    45
19      2015-01-01   210         뚝섬(210)       승차     95     197   136
20      2015-01-01   211         성수(211)       승차    125     193   182
21      2015-01-01   212       건대입구(212)       승차  1,595   1,256   903
22      2015-01-01   213         구의(213)       승차    226     256   399
23      2015-01-01   214         강변(214)       승차    356     358   427
24      2015-01-01   215       잠실나루(215)       승차     67     120   163
25      2015-01-01   216         잠실(216)       승차  1,174     608   610
26      2015-01-01   217         신천(217)       승차    640     527   376
27      2015-01-01   218      종합운동장(218)       승차    123     184   115
28      2015-01-01   219         삼성(219)       승차    295     299   237
29      2015-01-01   220         선릉(220)       승차    253     364   289
...            ...   ...             ...      ...     ...     ...   ...
200720  2015-12-31  2749              철산       하차     131    282   621
200721  2015-12-31  2750           광명사거리       하차     180    358   710
200722  2015-12-31  2751              천왕       하차      45    166   205
200723  2015-12-31  2752           온수(7)       하차     108    140   363
200724  2015-12-31  2753             까치울       하차      14     73   119
200725  2015-12-31  2754         부천종합운동장       하차      30     93   240
200726  2015-12-31  2755              춘의       하차      42    182   865
200727  2015-12-31  2756             신중동       하차      35    141   555
200728  2015-12-31  2757            부천시청       하차      43    118   525
200729  2015-12-31  2758              상동       하차      57    202   409
200730  2015-12-31  2759           삼산체육관       하차      29     64   109
200731  2015-12-31  2760             굴포천       하차      27     92   196
200732  2015-12-31  2761         부평구청(7)       하차      40    182   330
200733  2015-12-31  2811              암사       하차      75    222   342
200734  2015-12-31  2812           천호(8)       하차      60    379   667
200735  2015-12-31  2813            강동구청       하차      38    196   460
200736  2015-12-31  2814            몽촌토성       하차      24    130   331
200737  2015-12-31  2815           잠실(8)       하차      80    388   883
200738  2015-12-31  2816              석촌       하차      34    196   334
200739  2015-12-31  2817              송파       하차      38    105   169
200740  2015-12-31  2818         가락시장(8)       하차     131    193   453
200741  2015-12-31  2819              문정       하차      57    630   415
200742  2015-12-31  2820              장지       하차      74    604   683
200743  2015-12-31  2821           복정(8)       하차      82    496   356
200744  2015-12-31  2822              산성       하차      26    101   139
200745  2015-12-31  2823          남한산성입구       하차      60    162   417
200746  2015-12-31  2824           단대오거리       하차      48    207   432
200747  2015-12-31  2825              신흥       하차      26     73   103
200748  2015-12-31  2826              수진       하차      38     67   115
200749  2015-12-31  2827           모란(8)       하차      60     84   138

            08      09      10  ...       15      16      17      18      19  \
0       1,106   1,474   2,020   ...   4,036   4,030   3,666   3,738   3,091
1         127     233     308   ...   1,038   1,027   1,176   1,133     850
2         291     328     449   ...   1,530   2,012   2,176   2,047   1,767
3         189     347     491   ...   1,537   1,791   1,954   1,526   1,297
4         128     209     323   ...     915     984     948     962     722
5         265     440     483   ...     837     913     804     637     420
6         250     345     490   ...     504     575     518     489     308
7         189     272     391   ...   1,084   1,018     835     435     236
8         469     719     822   ...   1,578   1,725   1,545   1,096     893
9          89     167     198   ...     746     670     585     276     192
10        104     129     239   ...     663     880     889     860     632
11        197     361     550   ...   1,544   1,958   2,079   2,456   2,063
12        112     167     475   ...     433     424     450     371     329
13         84     173     279   ...     265     273     284     206     175
14        164     285     349   ...     839     964   1,006     980     909
15        290     328     384   ...     533     541     500     411     359
16        210     262     293   ...     302     292     257     234     158
17        311     386     452   ...     694     732     768     772     617
18         58      85      91   ...     186     209     295     240     163
19        272     289     317   ...     389     365     364     333     256
20        272     329     358   ...     396     419     467     435     313
21        991   1,034     962   ...   1,624   1,759   1,888   1,953   1,694
22        524     659     608   ...     654     726     674     575     411
23        702   1,235   1,689   ...   2,509   2,570   2,480   2,244   2,377
24        268     308     342   ...     534     499     536     412     307
25        910   1,129   1,264   ...   3,511   3,862   3,980   4,295   3,431
26        485     532     630   ...     831     828     850     739     750
27        154     285     234   ...     398     386     433   1,960     286
28        317     422     419   ...   2,187   2,777   3,333   3,217   2,617
29        371     445     456   ...     805     903   1,132   1,018     688
...        ...     ...     ...  ...      ...     ...     ...     ...     ...
200720  1,385     994     708   ...   1,671   2,089   2,632   3,555   3,156
200721  1,117     911     786   ...   2,156   2,466   2,684   3,690   3,238
200722    310     233     203   ...     571     680     784     844     790
200723    574     278     212   ...     601     707     933   1,183   1,034
200724    303     133     112   ...     315     454     558     693     593
200725    442     170     101   ...     276     404     470     574     488
200726  1,653     431     265   ...     311     357     519     602     527
200727  1,518   1,016     546   ...     965   1,046   1,309   1,580   1,489
200728  1,024     704     454   ...     981   1,023   1,224   1,653   1,724
200729  1,143     892     583   ...     900   1,144   1,207   1,664   1,450
200730    265     132     169   ...     317     394     657     981     649
200731    545     334     256   ...     605     716     998   1,175   1,073
200732    499     244     169   ...     552     710     893   1,081   1,045
200733    741     536     407   ...   1,137   1,282   1,642   2,015   1,740
200734  1,471   1,070     755   ...   1,501   1,815   2,321   2,793   2,496
200735  1,602     498     371   ...     638     867     949   1,168     963
200736  1,315     525     326   ...     418     436     509     652     593
200737  2,224   1,434     826   ...   1,206   1,074   1,319   1,469     941
200738  1,092     757     451   ...     544     706     766     972     800
200739    807     415     263   ...     321     357     383     518     381
200740  1,591     667     389   ...     456     437     445     594     499
200741    747     310     163   ...     287     312     447     494     416
200742  1,870   1,105     539   ...     816     845   1,149   1,237   1,149
200743    594     366     232   ...     200     295     318     515     649
200744    263     170     195   ...     471     587     663     837     693
200745    952     491     296   ...     750     890   1,003   1,414   1,206
200746    804     386     347   ...     703     940     961   1,442   1,296
200747    230     233     220   ...     423     554     532     660     632
200748    326     211     181   ...     348     386     439     464     397
200749    283     150     181   ...     260     284     284     290     290

            20      21      22      23    24
0       2,749   3,247   2,437   1,279    73
1         950     612     497     192     6
2       1,834   1,825   1,666     736    37
3       1,149   1,257     953     415    15
4         576     431     241     102     3
5         394     284     206     156     0
6         243     206     145      62     1
7         158     234      80      37     2
8         932     751     600     179     2
9          98     154      85      49     0
10        564     539     395     152     0
11      1,997   2,274   1,911     904     0
12        282     195     237      92     0
13        162     156     133      54     0
14        863     820     600     350     0
15        236     253     170      76     0
16        155     166     112      49     0
17        596     659     627     448     6
18        151     175     264      76     0
19        221     164     120      53     0
20        311     277     245     117     1
21      1,913   2,075   2,280   1,254     0
22        407     410     287     150     0
23      1,997   1,987   1,312     430     0
24        276     221     168      71     0
25      2,795   3,392   2,453     906     0
26        763     794     705     315     0
27        175     142     114      43     0
28      2,402   2,548   2,005     406     0
29        701     837   1,014     334     0
...        ...     ...     ...     ...   ...
200720  1,902   1,573   1,383   1,000   552
200721  2,079   1,850   1,616   1,128   577
200722    497     468     377     346   219
200723    744     565     492     424   322
200724    461     316     348     200    99
200725    365     336     292     222   172
200726    392     387     260     265   131
200727    830     742     581     512   264
200728    842     679     463     457   218
200729  1,022     721     624     423   175
200730    394     308     308     199   108
200731    854     554     572     413   205
200732    674     643     611     390   378
200733  1,062   1,002     858     677   417
200734  1,568   1,308   1,319     725   717
200735    626     508     489     254   249
200736    475     326     280     164   159
200737    572     438     401     222   192
200738    543     420     409     315   276
200739    264     236     190     137    79
200740    306     251     221     139   110
200741    289     231     232     125   133
200742    913     664     494     350   306
200743    301     282     300     210   153
200744    570     510     520     361   270
200745    826     757     803     484   353
200746  1,019     739     772     565   339
200747    470     315     341     263   158
200748    316     285     317     215   121
200749    167     172     130     102   235

[200750 rows x 24 columns]